<div class="container productGroup">
  <button (click)="addProduct()">Add product</button>
<div class="row">
<div *ngFor="let product of products" class="item  col-xs-4 col-lg-4">
    <div class="thumbnail">
        <div class="caption">
            <h4 class="group inner list-group-item-heading">
                {{product.productname}}</h4>
            <p class="group inner list-group-item-text">
                {{product.productDescription}} </p> 
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <p class="lead">
                        {{product.productPrice}} </p>
                </div>
                <div class="col-xs-3 col-md-2">
                    <a class="btn btn-success" href="#">Edit</a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a class="btn btn-success"  href=#>Delete</a>
                </div>
                
            </div>
        </div>
    </div>
</div>
</div>