
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  
  <a class="glyphicon glyphicon-shopping-cart navbar-brand active" routerLink="/home">Home <span class="glyphicon glyphicon-shopping-cart"></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#GalleryNavBar" aria-controls="GalleryNavBar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
  
        <div class="collapse navbar-collapse" id="GalleryNavBar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
           
                  <a routerLink="viewProducts" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Products
                  </a>
    
              
            </li>
           </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item" stlye="float:right">
                        <a routerLink="viewProducts" class="btn btn-success btn-lg">
                      <span class="glyphicon glyphicon-shopping-cart"></span> Login/Signup
                    </a>
                  
            </li>
          </ul>
          
        </div>
      </nav>
  <div class="container col-md-12 h-100" id="homepage">
   <router-outlet></router-outlet>
  </div>
  
  
  
  
  
  
  
  <div class="footer bg-light">
  <!-- <div class="container">
          <span class="text-muted">Disclaimer:Note that this is a fictitious website that was developed by a student as part of a programming assignment. None of the content on this page is meant to be genuine nor should it be taken as such.</span>
        </div>
   -->
  </div>
  
